header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
nav{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20%;
}
nav .Link{
    font-size: 23px;
    text-decoration: none;
    color: rgb(33, 64, 188);
    font-weight: 800;
    padding-bottom: 8px;
}
.themeSwitch{
    margin-left: 200px;
}